<%= form_with model: @post.becomes(Post) do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :cover_image %>
    <% if @post.cover_image.present? %>
      <div id="<%= dom_id(@post, :cover_image) %>">
        <%= image_tag @post.cover_image, class: "w-1/2" %>
        <%= link_to "Delete cover image", post_cover_image_path(@post), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      </div>
    <% end %>
    <%= form.file_field :cover_image %>
  </div>

  <div>
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </div>

  <div>
    <%= form.label :published_at %>
    <%= form.datetime_select :published_at, include_blank: true %>
  </div>

  <% if form.object.errors.any? %>
    <div>
      <% form.object.errors.full_messages.each do |message|  %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <%= form.submit %>
<% end %>
