<h1>My Blog</h1>

<% if @posts.fetch("DraftPosts", false)&.present? %>
  <%= turbo_frame_tag "drafts" do %>
    <h2>Drafts</h2>
    <% @pagies["DraftPosts"].at(1).each do |post| %>
      <div>
        <h4><%= link_to post.title, post_path(post), target: "_top" %></h4>
        <%= post.content %>
      </div>
    <% end %>

    <div class="my-16">
    <%= pagy_nav(@pagies.fetch("DraftPosts").at(0)).html_safe %>
    </div>
  <% end %>
<% end %>

<% if @posts.fetch("ScheduledPosts", false)&.present? %>
  <%= turbo_frame_tag "scheduled" do %>
    <h2>Scheduled</h2>
    <% @pagies["ScheduledPosts"].at(1).each do |post| %>
      <div>
        <h4><%= link_to post.title, post_path(post), target: "_top" %></h4>
        <%= post.content %>
      </div>
    <% end %>

    <div class="my-16">
    <%= pagy_nav(@pagies["ScheduledPosts"].at(0)).html_safe %>
    </div>
  <% end %>
<% end %>

<h2>Published</h2>
<% if @posts.fetch("PublishedPosts", false)&.present? %>
  <%= turbo_frame_tag "published" do %>
    <% @pagies["PublishedPosts"].at(1).each do |post| %>
      <div>
        <h4><%= link_to post.title, post_path(post), target: "_top" %></h4>
        <%= post.content %>
      </div>
    <% end %>

    <div class="my-16">
      <%= pagy_nav(@pagies.fetch("PublishedPosts").at(0)).html_safe %>
    </div>
  <% end %>
<% else %>
  <i class="text-gray-300">No publications yet.</i>

  <br>
  <br>
<% end %>

<%= button_to "Create blog post", new_post_path, method: :get %>

<br>

<% if signed_in? %>
  Signed in as: <%= current_user.email %>
  <%= button_to 'Sign out', sign_out_path, method: :delete %>
<% else %>
  <%= link_to 'Sign in', sign_in_path %>
<% end %>
